import lombok.Getter;

@Getter
public final class EntityCategory {
    private static final EntityCategory[] ALL = new EntityCategory[{ALL_CATEGORY_FIELD}];

    private final String name;
    private final int[] entities;

    public EntityCategory(String name, int[] entities) {
        this.name = name;
        this.entities = entities;
    }

    private EntityCategory(int index, String name, int... entities) {
        this(name, entities);
        ALL[index] = this;
    }

    public static final EntityCategory {OBJECT_FIELD_TYPE};
}