import lombok.Getter;

import java.util.Collection;
import dev.hypix.dataparser.util.CopyOnWriteCollection;

@Getter
public final class Banner {

    public static final Collection<Banner> ALL = new CopyOnWriteCollection<>({ALL_FIELD});

    private final String assetId, translationKey;

    public Banner(String assetId, String translationKey) {
        this.assetId = assetId;
        this.translationKey = translationKey;
    }

    private Banner(String assetId, int index, String translationKey) {
        this(assetId, translationKey);
        ALL.add(this);
    }

    public static final Banner {OBJECT_FIELD_TYPE};
}