import java.util.Collection;
import dev.hypix.dataparser.util.CopyOnWriteCollection;

public record Biome(
    String name,
    boolean hasPrecipitation,
    double temperature,
    String temperatureModifier,
    double downFall,
    Effects effects
) {
    public static final Collection<Biome> ALL = new CopyOnWriteCollection<>({ALL_FIELD});

    public static Biome add(final Biome biome) {
        ALL.add(biome);
        return biome;
    } 

    public static record Effects(
        int fogColor,
        Integer foliageColor,
        Integer grassColor,
        String grassColorModifier,
        String ambientSound,
        int skyColor,
        int waterColor,
        int waterFogColor,
        MoodSound moodSound,
        Music music,
        AdditionSound additionSound,
        Particle particle
    ){

        public static record MoodSound(
            String sound,
            int tickDelay,
            int blockSearchExtent,
            double offSet
        ){}

        public static record Music(
            int maxDelay,
            int minDelay,
            boolean replaceCurrentMusic,
            String sound
        ){}

        public static record AdditionSound(
            String sound,
            double tickChance
        ){}

        public static record Particle(
            String type,
            double probability
        ){}
    }

    public static final Biome {OBJECT_FIELD_TYPE};
}