import lombok.Getter;

import java.util.Collection;
import dev.hypix.dataparser.util.CopyOnWriteCollection;

@Getter
public final class DamageType {

    public static final Collection<DamageType> ALL = new CopyOnWriteCollection<>({ALL_FIELD});

    private final double exhaustion;
    private final String name, scaling, messageId;

    public DamageType(String name, double exhaustion, String messageId, String scaling) {
        this.name = name;
        this.exhaustion = exhaustion;
        this.messageId = messageId;
        this.scaling = scaling;
    }

    private DamageType(String name, int index, double exhaustion, String messageId, String scaling) {
        this(name, exhaustion, messageId, scaling);
        ALL.add(this);
    }

    public static final DamageType {OBJECT_FIELD_TYPE};
}