import lombok.Getter;

import java.util.Collection;
import dev.hypix.dataparser.util.CopyOnWriteCollection;

@Getter
public final class Enchantment {

    public static final Collection<Enchantment> ALL = new CopyOnWriteCollection<>({ALL_FIELD});

    private final int id, maxLevel;
    private final String name;

    public Enchantment(String name, int id, int maxLevel) {
        this.name = name;
        this.id = id;
        this.maxLevel = maxLevel;
    }

    private Enchantment(int id, String name, int maxLevel) {
        this(name, id, maxLevel);
        ALL.add(this);
    }

    @Override
    public int hashCode() {
        return id;
    }

    @Override
    public boolean equals(final Object object) {
        return object == this || (object instanceof Enchantment enchantment && enchantment.id == this.id);
    }

    public static final Enchantment {OBJECT_FIELD_TYPE};
}