import lombok.Getter;

import java.util.Collection;
import dev.hypix.dataparser.util.CopyOnWriteCollection;

@Getter
public final class TrimMaterial {

    public static final Collection<TrimMaterial> ALL = new CopyOnWriteCollection<>({ALL_FIELD});

    private final String assetName, description, ingredient;
    private final double modelIndex;

    public TrimMaterial(String assetName, String description, String ingredient, double modelIndex) {
        this.assetName = assetName;
        this.description = description;
        this.ingredient = ingredient;
        this.modelIndex = modelIndex;
    }

    private TrimMaterial(String assetName, int index, String description, String ingredient, double modelIndex) {
        this(assetName, description, ingredient, modelIndex);
        ALL.add(this);
    }

    public static final TrimMaterial {OBJECT_FIELD_TYPE};
}